form {
  display: flex;
  flex-direction: column;
}

.question-group {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  &:not(:last-of-type) {
    border-bottom: 1px black solid;

  }
}

.mat-radio-button {
  width: 6rem;
}

:host ::ng-deep label {
  vertical-align: top;
  flex-direction: column;
  padding: 0.5rem;
}