@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;}

app-root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  box-sizing: border-box;
}


$primary: #673ab7;
